<section class="container col-md-10 col-md-offset-2">
<h1><%= @article.title %></h1>

<p><%= @article.content %></p>


<h4>Liste des commentaires</h4>

<% @comments.each do |comment| %>
        <% unless (comment.content).empty? or (comment.author).empty? %>
            <strong><%= comment.author %></strong> 
            <p><%= comment.content %></p>
            <br/>
        <% end %>
<% end %>


<%= paginate @comments %>


<h4>Réagir à cet article</h4>

<%= form_tag "/articles/#{@article.id}", method: "post" do %>
    
    <p><%= text_field_tag :author, "", :placeholder => "Auteur" %></p>
    <p><%= text_area_tag :content, "", :placeholder => "Commentaire" %></p>
    <p><%= submit_tag "Ajouter un commentaire" %></p>
<%  end %>

<p><a href="/">Retour à la liste des articles</a></p>
</section>